.search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;

    .search-field {
        width: 300px;
    }

    a {
        font-size: 26px;
    }
}
