.search-header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 110px;

    .search-field {
        width: 300px;
    }

    a {
        font-size: 26px;
    }
    @media (min-width: 520px) {
        flex-direction: row;
        height: 65px;
    }
}
