.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    grid-template-rows: 290px;
    grid-auto-rows: 290px;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;

    .book-image {
        margin: auto;
        position: relative;
        height: 210px;
        width: 125px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
    }
}
