@import "theme";
.container {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-template-rows: 290px;
    grid-auto-rows: 290px;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: center;

    div {
        overflow: hidden;
    }

    .book-image {
        margin: auto;
        height: 210px;
        width: 125px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        border: 1px solid $accent;
    }

    .title {
        text-align: center;
        padding-top: 15px;
    }
}
.placeholder-image {
    margin: 50px auto;
    height: 250px;
    width: 200px;
    background: url("/assets/books-placeholder.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
