.favorite-header {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        font-size: 26px;
    }
    @media (min-width: 520px) {
        height: 65px;
        justify-content: flex-end;
    }
}
