@import '~@angular/material/theming';

@include mat-core();

$books-app-primary: mat-palette($mat-deep-purple);
$books-app-accent:  mat-palette($mat-grey, A200, A100, A400);

$books-app-warn:    mat-palette($mat-red);

$books-app-theme: mat-light-theme($books-app-primary, $books-app-accent, $books-app-warn);

@include angular-material-theme($books-app-theme);

$primary: mat-color($books-app-primary, 500);
$accent: mat-color($books-app-accent, A200);
$warn: mat-color($books-app-warn, 500);
