<div class="image-container">
    <div class="book-image"
         [ngStyle]="{ 'background-image': 'url(' + data.volumeInfo?.imageLinks?.thumbnail + ')' }"></div>
    <mat-icon color="primary" class="icon" (click)="addToWishlist()">{{ isFavorite ? 'favorite' :
        'favorite_border'}}
    </mat-icon>
</div>
<div class="details">
    <div class="title">{{data.volumeInfo?.title}}</div>
    <div class="subtitle">{{data.volumeInfo?.subtitle}}</div>
    <div class="authors">{{data.volumeInfo?.authors?.join(', ')}}</div>
    <div class="description">{{data.volumeInfo?.description}}</div>
</div>
<mat-icon class="close" [mat-dialog-close]>close</mat-icon>

