@import "theme";

:host {
    display: flex;
    height: 100%;
    overflow: hidden;

    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin-left: 10px;
        .book-image {
            height: 210px;
            width: 125px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 15px;
            border: 1px solid $accent;
        }

        .icon {
            cursor: pointer;
            margin-top: 20px;
        }
    }

    .details {
        flex: 1;
        margin-left: 30px;
        height: 100%;
        overflow: auto;
        color: mat-color($books-app-accent, A700);

        div {
            margin-bottom: 10px;
            line-height: 1.4;
        }

        .title {
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .description {
            font-size: 14px;
        }
        .subtitle, .authors {
            font-style: italic;
        }
        .authors, .title {
            color: $primary
        }
    }

    .close {
        cursor: pointer;
        color: mat-color($books-app-accent, A700);
    }
}
