:host {
    display: flex;
    .image-container {

        .book-image {
            height: 210px;
            width: 125px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 15px;
        }

        .icon {
            cursor: pointer;
        }
    }

    .details {
        flex: 1;
    }
}
